# Archivos de compilación
*.class

# Carpetas de salida
build/
dist/

# Configuraciones privadas de NetBeans
nbproject/private/

# Archivos de Maven
target/
build/

# Archivos de StarUML
*.mdj               # Ignora todos los archivos .mdj
*.uml               # Ignora todos los archivos .uml (si corresponde)
*.png               # Ignora archivos de imagen generados por StarUML
*.svg               # Ignora archivos SVG generados por StarUML
staruml-project/    # Ignora la carpeta de proyecto de StarUML (ajusta según tu estructura)
